.bg-dark {
  background-color: #000000!important;
  opacity:0.9;
  }

.navbar-logo {
  object-fit: fill;
  display: flex;
  padding-top: 30px;
  height: 95px;
  background-color: transparent;
  margin: 0px 20px;
  font-family: 'Lato', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.829);
  margin: 20px;
  transition: .5s;
}

.fa-home:before {
  margin: 10px;
}
.fa-address-book:before{
  margin: 10px;
}
.fa-clone:before{
  margin: 10px;
}
.fa-clock:before{
  margin: 10px;
}
.fa-paper-plane:before{
  margin: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #619c1c;
  transition: .5s;
  opacity:0.8;
  text-decoration: none;
  box-shadow: #619c1c;
  
}
a:hover{
  text-decoration: none;
  box-shadow: #619c1c;
}

.navbar-expand-xl .navbar-collapse {
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: flex-end;
  padding-right: 5%;
}


@media (max-width: 950px){
  
  .navbar-expand-xl .navbar-collapse {
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* align-content: space-between; */
    /* justify-content: space-between; */
    
  }
  .navbar {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;

}

  .navbar-logo{
    /* display:none; */
    position: relative;  
    flex-wrap: nowrap;
  z-index:100;
  margin: 0px;
  padding-top: 10px;
  height: 95px;
  background-color: transparent;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}
  }




@media (max-width: 500px){
  
    .navbar-expand-xl .navbar-collapse {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    
  }

  .navbar-dark .navbar-brand {
    color: rgba(255, 255, 255, 0.829);
    position: relative;
    margin: 0px;
    padding-top: 10%;
    height: 95px;
    text-align: center;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
}


  
  
}