@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
  font-family: 'Lato', sans-serif;
}
.far .fa-copy {
  margin-right: 10px;
}

.navbar-logo {
  object-fit: fill;
  display: flex;
  padding-top:10px;
  height: 95px;
  background-color: transparent;
  margin: 0px 20px;
}

.navbar-mainbg {
  background-color: #000;
  padding: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 10px;
  margin: 10px;
}

#navbarSupportedContent ul li a i {
  margin-right: 15px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 5px 25px;
  margin-top:20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent > ul > li.active > a {
  color: #000;
  background-color: transparent;
  transition: all 1.7s;
}

#navbarSupportedContent a:not(:only-child):after {
  content: '\f105';
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 14px;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fafafa;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 20px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fafafa;
  bottom: 0px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }

  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }

  .hori-selector .left {
    top: -25px;
    left: auto;
  }

  .hori-selector .right {
    bottom: -25px;
  }

  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }

  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
  
}



@media (max-width: 500px){
  .hori-selector .left, .hori-selector .right {
    right: 0px;
}
.hori-selector .left, .hori-selector .right {
  right: 0px;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}

.navbarSupportedContent ul li a {
margin-right: 50px !important;

}

.hori-selector {
  margin-top: 15px;
  margin-left: 30px;
  border-radius: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 30px;
}

}


